*

# Allow Directories
!*/

# Disallowed Directories
**/obj/
**/bin/
**/config/

# Allowed File Types
!*.md
!.editorconfig
!.gitignore
!*.sln
!*.slnf
!*.csproj
!*.cs
!*.json
!*.iotedgeproj
!Dockerfile*